/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */


#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/ {
    macros {
        M_copy: copy_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>,
                  <&macro_tap &kp C>,
                  <&macro_release &kp LCTRL>;
        };
        M_paste: paste_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>,
                  <&macro_tap &kp V>,
                  <&macro_release &kp LCTRL>;
        };

    };


    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp GRAVE   &kp N1  &kp N2      &kp N3      &kp N4      &kp N5              &kp N6      &kp N7      &kp N8      &kp N9    &kp N0    &kp SQT
&kp TAB     &kp Q   &kp W       &kp E       &kp R       &kp T               &kp Y       &kp U       &kp I       &kp O     &kp P     &kp BSLH
&kp LSHFT   &kp A   &kp S       &kp D       &kp F       &kp G               &kp H       &kp J       &kp K       &kp L     &kp SEMI  &kp RET
&kp LCTRL   &kp Z   &kp X       &kp C       &kp V       &kp B               &kp N       &kp M       &kp COMMA   &kp DOT   &kp FSLH  &kp RSHFT
                    &kp LALT    &mo RAISE   &kp SPACE   &mo LOWER           &mo LOWER   &kp BKSP    &mo RAISE   &kp RCTRL
                    &kp END     &kp HOME    &kp DEL     &kp ESC             &kp UP      &kp LEFT    &kp RIGHT   &kp DOWN
            >;
        };

        lower {
            bindings = <
&none   &kp F1      &kp F2  &kp F3  &kp F4  &kp F5          &kp F6      &kp F7      &kp F8   &kp F9   &kp F10 &kp F11
&trans  &none       &none   &trans  &none   &none           &kp PG_UP   &kp PG_DN   &M_copy  &M_paste &none   &kp F12
&trans  &none       &none   &trans  &none   &none           &kp MINUS   &kp EQUAL   &none    &trans   &none   &none
&trans  &kp LGUI    &none   &none   &none   &none           &kp LBKT    &kp RBKT    &none    &none    &none   &trans
                    &trans  &trans  &none   &trans          &trans      &none       &trans   &trans
                    &none   &none   &kp INS &none           &trans      &trans      &trans   &trans
            >;
        };

        raise {
            bindings = <
&none           &none   &none   &none   &none       &sys_reset          &sys_reset  &none       &none   &none   &none   &none
&none           &none   &none   &none   &none       &none               &none       &none       &none   &none   &none   &none
&none           &none   &none   &none   &none       &none               &none       &none       &none   &none   &none   &none
&bt BT_CLR_ALL  &none   &none   &none   &none       &none               &none       &none       &none   &none   &none   &bt BT_CLR_ALL
                        &none   &trans  &none       &trans              &trans      &none       &trans  &none
                        &none   &none   &bootloader &none               &none       &bootloader &none   &none
            >;
        };
    };
};

